* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

main {
  flex: 1;
}

.loader {
  font-size: 48px;
}
